streamlit==1.45.1
openai==1.78.1
python-dotenv==1.1.0
chardet==5.2.0
st_supabase_connection==1.2.0
cryptography==42.0.5
sentence-transformers==4.1.0
numpy==1.25.2
torch==2.1.2
resend==2.10.0
backoff==2.2.1
streamlit-cookies-controller==0.0.4
selenium==4.15.0
chromedriver-autoinstaller==0.6.4
langchain>=0.1.14
langchain-community>=0.0.19
vecs==0.4.2
supabase==1.0.3